
<!--

自定义Form可以指定要显示的字段，和设置控件的样式（rows=6)表示输入框的高度为6行。

-->
<template name="customForm">
    <h2>自定义form</h2>

    {{#autoForm collection="Books" id="insertBookForm1" type="insert" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
        <fieldset>
            <legend>Add a Book</legend>
            {{> afQuickField name='title'}}
            {{> afQuickField name='author'}}
            {{> afQuickField name='summary' rows=6}}
            {{> afQuickField name='copies'}}
            {{> afQuickField name='lastCheckedOut'}}
            <!--{{> afQuickField name='summary'}}-->
        </fieldset>
        <button type="submit" class="btn btn-primary">Insert</button>
    {{/autoForm}}
</template>